<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Информация об игроках</h2>
{% for elem in hurma %}
        {{elem}}<br>
    {% endfor %}

<h2>{{bankwrot}}</h2>

<h2>Информация о запросах банка</h2>
{% for elem in information %}
        {{elem}}<br>
    {% endfor %}

<form action="http://192.168.1.68/buyI" method="post" >
  <p>Напишите количество сырья(числами, без запятой), которое бы вы хотели взять и цену, которую вы бы хотели отдать за него(если вы введете слишком много денег, то банк оставит за собой право списать средства и объявить вас банкротом)</p>
    <p>Напоминаю, если вы допустите что-то не то, то вы испортите игру своим друзьям, а уж потом, друзья испортят вам прическу, так что рекомендуется слушать все инструкции</p>
   <p><input type="number" name="nm"> <input type="number" name="kg"> </p>
  <p>Напишите количество истребителей(числами, без запятой), которые бы вы хотели произвести. В начале следующего месяца они будут готовы. Обращаем ваше внимание на то, что вы можете произвести ровно столько самолетов, сколько у вас ангаров и если вы укажете больше, будут построен. За каждый из самолетов у вас спишут 2 единицы сырья и 2000 наличности</p>
   <p><input type="number" name="uf">
      <p>Напишите количество истребителей(числами, без запятой), которое бы вы хотели продать и кол во денег, которуе вы бы хотели получить за них(обращаем внимание, что взяты будут только н самолетов самой низкой цены)</p>
   <p><input type="number" name="pr"> <input type="number" name="ko"> </p>
    <p>Напишите количество ангаров(числами, без запятой), которые бы вы хотели построить. Через 4 месяца они будут готовы. Обращаем ваше внимание на то, что вы можете произвести ровно столько самолетов, сколько у вас ангаров и если вы укажете больше, будут построен(если вы введете слишком много ангаров на постройку, то банк оставит за собой право списать средства и объявить вас банкротом). Постройка одного ангара 5000</p></p>
    <p><input type="number" name="kk"></p>
      <p> <input type="submit" value = 'submit'></p>
</form>
</body>
</html>